<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="format-detection" content="telephone=no">
        <title>{{title}}</title>
        <!-- inject-style src="./dist/css/style.css" -->

    </head>
    <body>
        <table id="backgroundTable" bgcolor="#FFFFFF">
            <tr>
                <td align="center">
                    <table id="innerTable">
                        <tr>
                            <td align="left">
                                <p class="header__text">{{online.text}} <a href="{{online.link.url}}">{{online.link.text}}</a></p> 
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table id="backgroundTable" bgcolor="#E6F3F7">
            <tr>
                <td align="center">
                    <table id="innerTable">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td align="left">
                                            <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td align="left">
                                            {{banner}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table id="backgroundTable" bgcolor="#FFFFFF">
            <tr>
                <td align="center">
                    <table id="innerTable">
                        <tr>
                            <td align="left">
                                <h1>{{content_white.h1}}</h1>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table id="backgroundTable" bgcolor="#FFFFFF">
            <tr>
                <td align="center">
                    <table id="innerTable">
                        <tr>
                            <td align="left">
                                <p>{{content_white.intro}}</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table id="backgroundTable" bgcolor="#FFFFFF">
            <tr>
                <td align="center">
                    <table id="innerTable">
                        <tr>
                            <td align="left">
                                <p>{{content_white.text}}</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table id="backgroundTable" bgcolor="#FFFFFF">
            <tr>
                <td align="center">
                    <table id="innerTable">
                        <tr>
                            <td align="left">
                                <span>{{content_white.cta}}</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table id="backgroundTable" bgcolor="#FFFFFF">
            <tr>
                <td align="center">
                    <table id="innerTable">
                        <tr>
                            <td align="left">
                                <p>{{content_white.text2}}</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table id="backgroundTable" bgcolor="#FFFFFF">
            <tr>
                <td align="center">
                    <table id="innerTable" bgcolor="#5CBB56">
                        <tr>
                            <td class="table__columns--two">
                                <table>
                                    <tr>
                                        <td align="left">
                                            <h3>{{content_green.h3}}</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <p>{{content_green.text}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <span>{{content_green.cta}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="table__columns--two">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
        </table>

        <table id="backgroundTable" bgcolor="#FFFFFF">
            <tr>
                <td align="center">
                    <table id="innerTable">
                        <tr>
                            <td align="center">
                                <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table id="backgroundTable" bgcolor="#FFFFFF">
            <tr>
                <td align="center">
                    <table id="innerTable">
                        <tr>
                            <td align="center">
                                <p class="header__text">{{footer.online.text}} <a href="{{footer.online.link.url}}">{{footer.online.link.text}}</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <p class="header__text">{{footer.unsubscribe.text}} <a href="{{footer.unsubscribe.link.url}}">{{footer.unsubscribe.link.text}}</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <p class="header__text">{{footer.copyright.text}} <a href="{{footer.copyright.link.url}}">{{footer.copyright.link.text}}</a></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>