/* ==========================================================================
   General - Base
   ========================================================================== */

html {
    background-color: $white;
}

body {
    width: 100% !important;
    padding: 0;
    margin: 0;

    background: $white;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
