/* ==========================================================================
   General - Base
   ========================================================================== */

body {
    background: #000000;
}

p {
    @media (max-width: 600px) {
        color: #FF0000 !important;
    }
}

img {
    width: 50%;
}

.bla {
    color: grey;
}

.paragraph {
    font-style: italic;
}